#!/usr/bin/env bash

# Disable deprecation warning for punycode; cf. https://github.com/davewasmer/devcert/issues/97
export NODE_OPTIONS="--disable-warning=DEP0040"

dotenv
direnv_load mise direnv exec
