/*

Symbol font

*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

/*

Global

*/

p {
  text-align: left;
}

img.feed {
  width: 24px;
  height: 24px;
  margin-top: unset;
  margin-bottom: unset;
}

.inline > p {
  display: inline;
  margin-top: unset;
  margin-bottom: unset;
}

p img,
header img,
footer img {
  margin-bottom: unset;
}

a[target="_blank"]:not(.link-preview):not(.has-image)::after {
  content: "🗗";
  font-family: 'Noto Sans Symbols 2', sans-serif;
  margin-left: 2px;
  margin-right: 1px;
  width: 1em;
  height: 1em;
}

a.has-image:hover {
  border-bottom: unset;
}

/*

Show All/Less Container

*/

input[type="checkbox"].showless-toggle {
  display: none;
}

input[type="checkbox"].showless-toggle + * {
  transition: all 0.3s ease-out;
  max-height: 250px;
  margin-bottom: 0;
  padding-bottom: 50px;
  overflow: hidden;
}

input[type="checkbox"].showless-toggle:checked + * {
  /* This value have to be manually adjusted */
  max-height: 2000px;
}

label.showless-button {
  position: relative;
  display: block;
  margin: -50px 0 0;
  height: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  /* body background color from sakura.css */
  background: linear-gradient(to bottom, #f9f9f900, #f9f9f980 20%, #f9f9f9ff);
}

input[type="checkbox"].showless-toggle ~ label.showless-button::before {
  content: "🔽 Show All";
  line-height: 50px;
  background: #f9f9f9cc;
}

input[type="checkbox"].showless-toggle:checked ~ label.showless-button::before {
  content: "🔼 Show Less";
}

/*

Link Preview

*/

.link-preview blockquote:hover {
  outline: 2px solid #4a4a4a;
}

.link-preview table tr td:first-child {
  width: 75%;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-preview table tr td:last-child {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  vertical-align: top;
}

.link-preview table tr td strong {
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: left;
}

.link-preview table tr td strong img {
  width: 1em;
  height: 1em;
  margin-bottom: 0;
  margin-right: 0.4em;
}

.link-preview table tr td small::after {
  content: "🗗";
  font-family: 'Noto Sans Symbols 2', sans-serif;
  margin-left: 2px;
  width: 1em;
  height: 1em;
}

.link-preview blockquote:hover table tr td small {
  border-bottom: 2px solid #4a4a4a;
}

/*

Twilogs

Tweet-like style on top of Sakura.css

*/

.tweet {
  font-size: 0.75em;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* tweets or retweets' headers */
.tweet header {
  display: flex;
  align-items: center;
}

/* tweets or retweets' avatars, rounded squared */
.tweet header > img:first-child {
  width: 1.3em;
  height: 1.3em;
  border-radius: 5px;
  margin-right: 5px;
}

/* retweets' special textual label above their contents */
.tweet > .retweet-label {
  font-size: 0.7em;
  color: #999;
  margin-bottom: 5px;
}

/* retweet icon using noto sans symbol font */
.tweet > .retweet-label::before {
  content: "🔁";
  font-family: 'Noto Sans Symbols 2', sans-serif;
  margin-right: 5px;
}

/* tweets or retweets' text body */
.tweet .body {
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

/* paragraphs in tweets or retweets' text body */
.tweet .body p {
  margin: 0;
  padding: 0;
}

/* blockquote inside tweets or retweets' text body; loosely resembles Sakura's default blockquote style but deemphasized. slightly gapped */
.tweet .body blockquote {
  color: #4a4a4a;
  border-left: 3px solid #eaeaea;
  margin: 5px 0;
  padding: 5px 10px;
}

/* tweets or retweets' timestamp */
.tweet time {
  display: block;
  font-size: 0.8em;
  color: #999;
  margin-bottom: 5px;
}

/* Cancel all new-tab links styles within .tweet */
.tweet a[target="_blank"]::after {
  content: unset!important;
}

/* Subtle underline on links of status URLs */
.tweet > a:hover {
  border-bottom: 1px solid #4a4a4a;
}
