/*

Symbol font

*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://unpkg.com/sakura.css/css/sakura.css");

/*

Global

*/

p {
  text-align: left;
}

img.feed {
  width: 24px;
  height: 24px;
  margin-top: unset;
  margin-bottom: unset;
}

.inline > p {
  display: inline;
  margin-top: unset;
  margin-bottom: unset;
}

p img,
header img,
footer img {
  margin-bottom: unset;
}

a[target="_blank"]:not(.link-preview):not(.has-image)::after {
  content: "🗗";
  font-family: "Noto Sans Symbols 2", sans-serif;
  margin-left: 2px;
  margin-right: 1px;
  width: 1em;
  height: 1em;
}

a.has-image:hover {
  border-bottom: unset;
}

.link-ish {
  /* Imitate Sakura.css's link text style */
  color: #1d7484;
}
a:visited > .link-ish {
  color: #144f5a;
}
.link-ish:hover {
  color: #982c61!important;
}

/* Navigation for site metadata such as build status badge and author follow link.
No excess margins, slightly gapped, centered horizontally
*/
nav.meta {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav.prev-next-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  height: 1.5em;
}

/*

Show All/Less Container

*/

input[type="checkbox"].showless-toggle {
  display: none;
}

input[type="checkbox"].showless-toggle + * {
  transition: all 0.3s ease-out;
  max-height: 250px;
  margin-bottom: 0;
  padding-bottom: 50px;
  overflow: hidden;
}

input[type="checkbox"].showless-toggle:checked + * {
  /* This value have to be manually adjusted */
  max-height: 2000px;
}

label.showless-button {
  position: relative;
  display: block;
  margin: -50px 0 0;
  height: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  /* body background color from sakura.css */
  background: linear-gradient(
    to bottom,
    #f9f9f900,
    #f9f9f980 10%,
    #f9f9f9ff 30%,
    #f9f9f9ff
  );
}

input[type="checkbox"].showless-toggle ~ label.showless-button::before {
  content: "🔽 Show All";
  line-height: 50px;
}

input[type="checkbox"].showless-toggle:checked ~ label.showless-button::before {
  content: "🔼 Show Less";
}

/*

Link Preview

*/

.link-preview blockquote:hover {
  border-color: #4a4a4a;
}

.link-preview table tr td:first-child {
  width: 75%;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-preview table tr td:last-child {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  vertical-align: top;
}

.link-preview table tr td strong {
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: left;
}

.link-preview table tr td strong img {
  width: 1em;
  height: 1em;
  margin-bottom: 0;
  margin-right: 0.4em;
}

.link-preview table tr td small::after {
  content: "🗗";
  font-family: "Noto Sans Symbols 2", sans-serif;
  margin-left: 2px;
  width: 1em;
  height: 1em;
}

.link-preview blockquote:hover table tr td small {
  border-bottom: 2px solid #4a4a4a;
}

/*

Twilogs

Tweet-like style on top of Sakura.css

*/

.tweet {
  position: relative;
  font-size: 0.75em;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* raw twilog-data viewer */
.tweet > input[type="checkbox"] {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  opacity: 0.1;
  outline: none!important;
}
.tweet > input[type="checkbox"]:checked {
  opacity: 0.8;
}
.tweet > input[type="checkbox"] + .twilog-data {
  display: none;
  white-space: pre-wrap;
  font-family: 'Cica', Courier, 'Courier New', monospace;
}
.tweet > input[type="checkbox"]:checked + .twilog-data {
  display: block;
}
.tweet > input[type="checkbox"]:checked ~ :not(.twilog-data) {
  display: none;
}

.thread {
  position: relative;
  margin: 10px 0;
}

.reply {
  position: relative;
  padding-left: 1.1em;
}

/* In thread, tweets are rendered without gap, and only first and last children get rounded corners */
.reply::before {
  content: "↳";
  font-family: "Noto Sans Symbols 2", sans-serif;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 1em;
  height: 1em;
  color: #999;
}

/* tweets or retweets' headers */
.tweet header {
  display: flex;
  align-items: center;
}

/* tweets or retweets' avatars, rounded squared */
.tweet header > img:first-child {
  width: 1.3em;
  height: 1.3em;
  border-radius: 5px;
  margin-right: 5px;
}

/* retweets' special textual label above their contents */
.tweet > .retweet-label,
.tweet > .reply-label {
  font-size: 0.7em;
  color: #999;
  margin-bottom: 5px;
}

/* retweet icon using noto sans symbol font */
.tweet > .retweet-label::before {
  content: "🔁";
  font-family: "Noto Sans Symbols 2", sans-serif;
  margin-right: 5px;
}

/* tweets or retweets' text body */
.tweet .body {
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

/* paragraphs in tweets or retweets' text body */
.tweet .body p {
  margin: 0;
  padding: 0;
}

/* blockquote inside tweets or retweets' text body; loosely resembles Sakura's default blockquote style but deemphasized. slightly gapped */
.tweet .body blockquote {
  color: #4a4a4a;
  border-left: 3px solid #eaeaea;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 0.9em;
}

/* code block inside tweets or retweets' text body; */
.tweet .body pre {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
}

/* list container inside tweets or retweets' text body; only slightly gapped */
.tweet .body ul,
.tweet .body ol {
  margin: 5px 0;
}

/* list items inside tweets or retweets' text body; gap canceled */
.tweet .body li {
  margin: 0;
  padding: 0;
}

/* tweets or retweets' timestamp */
.tweet time {
  display: block;
  font-size: 0.8em;
  color: #999;
  margin-bottom: 5px;
}

/* Cancel all new-tab links styles within .tweet */
.tweet a[target="_blank"]::after {
  content: unset !important;
}

/* Subtle underline on links of status URLs */
.tweet > a:hover {
  border-bottom: 1px solid #4a4a4a;
}

/* Grid container of media (photo|video|animated_gif), at-most 2x2 grid.
*/
.tweet .media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, 150px);
  grid-gap: 2px;
  margin: 5px 0;
  border-radius: 10px;
  overflow: hidden;
  /* subtle box-shadow and background-color */
  box-shadow: 0 0 0 1px #eaeaea;
  background-color: #eaeaea;
}

.tweet .media-grid > *:last-child:nth-child(2n + 1) {
  grid-column-end: span 2;
}
/* Link in .media-grid must not have underline and margins */
.tweet .media-grid a {
  border-bottom: none;
}

/* Images in .media-grid must not have margins */
.tweet .media-grid img {
  margin: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Show video icon overlay using Noto Symbol fonts */
.tweet .media-grid figure.video-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.tweet .media-grid figure.video-thumbnail::before {
  content: "▶";
  font-family: "Noto Sans Symbols 2", sans-serif;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 3em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 0.2em;
  padding-left: 0.4em;
  box-sizing: border-box;
}

.tweet .link-preview {
  display: grid;
  grid-template-columns: auto auto;
  max-height: 150px;
  margin: 5px 0;
  /* Subtle border */
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
}
.tweet .link-preview img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
}
.tweet .link-preview div {
  padding: 5px 10px;
}
.tweet .link-preview div:not(:first-child) {
  border-left: 1px solid #eaeaea;
}
.tweet .link-preview div header {
  margin: 5px 0;
}
.tweet .link-preview div p {
  font-size: 0.8em;
}
.tweet a > .link-preview {
  /* apply Sakura's normal text color */
  color: #4a4a4a;
}
.tweet a:hover > .link-preview {
  /* change background color slightly, so that user can recognize links */
  background: #f5f5f5;
}

/* Twilog archive menu by year-month.

Each year-month makes details container with year-month text in summary,
and a list of available days in the body.
*/
nav.twilog-archive-navigation {
  margin: 1.3em 0;
}

nav.twilog-archive-navigation details {
  margin: 5px 0;
}

nav.twilog-archive-navigation details summary {
  font-size: 1.1em;
  font-weight: bold;
  color: #4a4a4a;
  cursor: pointer;
}
nav.twilog-archive-navigation details[open] > summary {
  /* Somewhat bright border-bottom, in-line with Sakura's link style */
  border-bottom: 2px solid #4a4a4a;
}

nav.twilog-archive-navigation details details {
  margin-left: 20px;
}

nav.twilog-archive-navigation ul {
  columns: 2 auto;
  margin: 0;
  padding: 5px;
  list-style-position: inside;
  font-size: 0.9em;
}
nav.twilog-archive-navigation ul li {
  margin: 0;
  padding: 0;
}
/* Fancy list marker for twilog archive menu items */
nav.twilog-archive-navigation ul li::marker {
  content: "📅";
  font-family: "Noto Sans Symbols 2", sans-serif;
  color: #999;
  letter-spacing: 5px;
}
nav.twilog-archive-navigation ul li.selected {
  font-weight: bold;
}
nav.twilog-archive-navigation ul li.selected::after {
  content: "◀";
  display: inline;
  width: 1em;
  height: 1em;
}
